# Ignore Play! working directory #
bin/
/db
.classpath
.eclipse
eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
.settings
server.pid
*.iml
*.eml
/dist/
.cache
/data/attachments/
