#{powerTags/fields/cables isAuthorized:isAuthorized,value:powerTag?.cables /}
#{html/input id:'circuits',isAuthorized:isAuthorized,name:'Circuits',type:'number',min:'0',placeholder:'non-decimal (range [0;∞[)',value:powerTag?.circuits /}
#{powerTags/fields/frequency isAuthorized:isAuthorized,value:powerTag?.frequency /}
#{html/select id:'location',isAuthorized:isAuthorized,name:'Location',selected:powerTag?.location?.name(),values:models.powerTags.Cable.LocationEnum.class.getEnumConstants() /}
#{powerTags/fields/name isAuthorized:isAuthorized,value:powerTag?.name /}
#{powerTags/fields/operator isAuthorized:isAuthorized,value:powerTag?.operator /}
#{powerTags/fields/ref isAuthorized:isAuthorized,value:powerTag?.ref /}
#{powerTags/fields/voltage isAuthorized:isAuthorized,value:powerTag?.voltage /}
