#{powerTags/fields/cables isAuthorized:isAuthorized,value:powerTag?.cables /}
#{powerTags/fields/circuits isAuthorized:isAuthorized,value:powerTag?.circuits /}
#{powerTags/fields/frequency isAuthorized:isAuthorized,value:powerTag?.frequency /}
#{powerTags/fields/location/cable isAuthorized:isAuthorized,value:powerTag?.location /}
#{powerTags/fields/name isAuthorized:isAuthorized,value:powerTag?.name /}
#{powerTags/fields/operator isAuthorized:isAuthorized,value:powerTag?.operator /}
#{powerTags/fields/ref isAuthorized:isAuthorized,value:powerTag?.ref /}
#{powerTags/fields/voltage isAuthorized:isAuthorized,value:powerTag?.voltage /}
