#{html/select id:'landuse',isAuthorized:isAuthorized,name:'Landuse',selected:powerTag?.landuse?.name(),values:models.powerTags.Plant.LanduseEnum.class.getEnumConstants() /}
#{powerTags/fields/name isAuthorized:isAuthorized,value:powerTag?.name /}
#{powerTags/fields/operator isAuthorized:isAuthorized,value:powerTag?.operator /}
#{powerTags/fields/output isAuthorized:isAuthorized,value:powerTag?.output /}
#{powerTags/fields/output_value isAuthorized:isAuthorized,value:powerTag?.output_value /}
#{html/input id:'start_date',isAuthorized:isAuthorized,name:'Start Date',type:'date',value:powerTag?.start_date /}
