#{powerTags/fields/gas_insulated isAuthorized:isAuthorized,value:powerTag?.gas_insulated /}
#{powerTags/fields/location/substation isAuthorized:isAuthorized,value:powerTag?.location /}
#{powerTags/fields/name isAuthorized:isAuthorized,value:powerTag?.name /}
#{powerTags/fields/operator isAuthorized:isAuthorized,value:powerTag?.operator /}
#{powerTags/fields/ref isAuthorized:isAuthorized,value:powerTag?.ref /}
#{powerTags/fields/type/substation isAuthorized:isAuthorized,value:powerTag?.type /}
#{powerTags/fields/voltage isAuthorized:isAuthorized,value:powerTag?.voltage /}
