#{html/select id:'gas_insulated',isAuthorized:isAuthorized,name:'Gas Insulated',selected:powerTag?.gas_insulated?.name(),values:models.powerTags.Substation.BooleanEnum.class.getEnumConstants() /}
#{html/select id:'location',isAuthorized:isAuthorized,name:'Location',selected:powerTag?.location?.name(),values:models.powerTags.Substation.LocationEnum.class.getEnumConstants() /}
#{powerTags/fields/name isAuthorized:isAuthorized,value:powerTag?.name /}
#{powerTags/fields/operator isAuthorized:isAuthorized,value:powerTag?.operator /}
#{powerTags/fields/ref isAuthorized:isAuthorized,value:powerTag?.ref /}
#{html/select id:'type',isAuthorized:isAuthorized,name:'Type',selected:powerTag?.type?.name(),values:models.powerTags.Substation.TypeEnum.class.getEnumConstants() /}
#{powerTags/fields/voltage isAuthorized:isAuthorized,value:powerTag?.voltage /}
