#{powerTags/fields/color isAuthorized:isAuthorized,value:powerTag?.color /}
#{powerTags/fields/design isAuthorized:isAuthorized,value:powerTag?.design /}
#{powerTags/fields/height isAuthorized:isAuthorized,value:powerTag?.height /}
#{powerTags/fields/material isAuthorized:isAuthorized,value:powerTag?.material /}
#{powerTags/fields/ref isAuthorized:isAuthorized,value:powerTag?.ref /}
#{powerTags/fields/structure isAuthorized:isAuthorized,value:powerTag?.structure /}
#{powerTags/fields/type/tower isAuthorized:isAuthorized,value:powerTag?.type /}
