#{powerTags/fields/frequency isAuthorized:isAuthorized,value:powerTag?.frequency /}
#{powerTags/fields/location/transformer isAuthorized:isAuthorized,value:powerTag?.location /}
#{powerTags/fields/phases isAuthorized:isAuthorized,value:powerTag?.phases /}
#{powerTags/fields/rating isAuthorized:isAuthorized,value:powerTag?.rating /}
#{powerTags/fields/type/transformer isAuthorized:isAuthorized,value:powerTag?.type /}
#{powerTags/fields/voltage isAuthorized:isAuthorized,value:powerTag?.voltage /}
