#{set 'moreScripts'}
	#{get 'moreScripts' /}
#{/set}
#{set 'moreStyles'}
	#{get 'moreStyles' /}
#{/set}
<form class='form-inline'>
	<div class='form-group'>
		<label for='poi_accuracy'>Accuracy:</label><br />
		<input class='form-control' id='poi_accuracy' placeholder='missing value' type='text'>
	</div>
	<div class='form-group'>
		<label for='poi_altitude'>Altitude:</label><br />
		<input class='form-control' id='poi_altitude' placeholder='missing value' type='text'>
	</div>
	<div class='form-group'>
		<label for='poi_bearing'>Bearing:</label><br />
		<input class='form-control' id='poi_bearing' placeholder='missing value' type='text'>
	</div>
	<div class='form-group'>
		<label for='poi_latitude'>Latitude:</label><br />
		<input class='form-control' id='poi_latitude' placeholder='missing value' type='text'>
	</div>
	<div class='form-group'>
		<label for='poi_longitude'>Longitude:</label><br />
		<input class='form-control' id='poi_longitude' placeholder='missing value' type='text'>
	</div>
	<div class='form-group'>
		<label for='poi_provider'>Provider:</label><br />
		<input class='form-control' id='poi_provider' placeholder='missing value' type='text'>
	</div>
	<div class='form-group'>
		<label for='poi_time'>Time:</label><br />
		<input class='form-control' id='poi_time' type='datetime-local'>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>