<form class='form-inline' id='poi_form'>
	<input id='poi_id' name='poi_id' type='hidden' value='${poi.id}'>
	#{html/input id:'poi_accuracy', isAuthorized:isAuthorized,name:'Accuracy', primary:'true',type:'number',min:'0',             step:'0.001',     placeholder:'meters (decimal; range [0;∞[)',      value:poi?.accuracy /}
	#{html/input id:'poi_address',  isAuthorized:isAuthorized,name:'Address',  primary:'true',                                                     placeholder:'street, ZIP code, city, country',    value:poi?.address /}
	#{html/input id:'poi_altitude', isAuthorized:isAuthorized,name:'Altitude', primary:'true',type:'number',                     step:'0.001',     placeholder:'meters (decimal)',                   value:poi?.altitude /}
	#{html/input id:'poi_bearing',  isAuthorized:isAuthorized,name:'Bearing',  primary:'true',type:'number',min:'0',  max:'360', step:'0.00000001',placeholder:'degrees (decimal; range [0;360])',   value:poi?.bearing /}
	#{html/input id:'poi_latitude', isAuthorized:isAuthorized,name:'Latitude', primary:'true',type:'number',min:'-90',max:'90',  step:'0.00000001',placeholder:'degrees (decimal; range [-90;90])',  value:poi?.latitude /}
	#{html/input id:'poi_longitude',isAuthorized:isAuthorized,name:'Longitude',primary:'true',type:'number',min:'-180',max:'180',step:'0.00000001',placeholder:'degress (decimal; range [-180;180])',value:poi?.longitude /}
	#{html/input id:'poi_provider', isAuthorized:isAuthorized,name:'Provider', primary:'true',                                                                                                  value:poi?.provider /}
	#{html/input id:'poi_time',     isAuthorized:isAuthorized,name:'Time',     primary:'true',type:'date',                                                                                      value:poi?.time /}
	#{html/select_start id:'poi_power_tag',isAuthorized:isAuthorized,name:'Power Tag',primary:'true' /}
		#{html/option selected:controllers.Application.spaceBeforeUpperCase(poi.powerTag.getClass().getSimpleName()),value:controllers.Application.spaceBeforeUpperCase(models.powerTags.Cable.class.getSimpleName()) /}
		#{html/option selected:controllers.Application.spaceBeforeUpperCase(poi.powerTag.getClass().getSimpleName()),value:controllers.Application.spaceBeforeUpperCase(models.powerTags.CableDistributionCabinet.class.getSimpleName()) /}
		#{html/option selected:controllers.Application.spaceBeforeUpperCase(poi.powerTag.getClass().getSimpleName()),value:controllers.Application.spaceBeforeUpperCase(models.powerTags.Converter.class.getSimpleName()) /}
		#{html/option selected:controllers.Application.spaceBeforeUpperCase(poi.powerTag.getClass().getSimpleName()),value:controllers.Application.spaceBeforeUpperCase(models.powerTags.Generator.class.getSimpleName()) /}
		#{html/option selected:controllers.Application.spaceBeforeUpperCase(poi.powerTag.getClass().getSimpleName()),value:controllers.Application.spaceBeforeUpperCase(models.powerTags.Line.class.getSimpleName()) /}
		#{html/option selected:controllers.Application.spaceBeforeUpperCase(poi.powerTag.getClass().getSimpleName()),value:controllers.Application.spaceBeforeUpperCase(models.powerTags.MinorLine.class.getSimpleName()) /}
		#{html/option selected:controllers.Application.spaceBeforeUpperCase(poi.powerTag.getClass().getSimpleName()),value:controllers.Application.spaceBeforeUpperCase(models.powerTags.Plant.class.getSimpleName()) /}
		#{html/option selected:controllers.Application.spaceBeforeUpperCase(poi.powerTag.getClass().getSimpleName()),value:controllers.Application.spaceBeforeUpperCase(models.powerTags.Pole.class.getSimpleName()) /}
		#{html/option selected:controllers.Application.spaceBeforeUpperCase(poi.powerTag.getClass().getSimpleName()),value:controllers.Application.spaceBeforeUpperCase(models.powerTags.Substation.class.getSimpleName()) /}
		#{html/option selected:controllers.Application.spaceBeforeUpperCase(poi.powerTag.getClass().getSimpleName()),value:controllers.Application.spaceBeforeUpperCase(models.powerTags.Switch.class.getSimpleName()) /}
		#{html/option selected:controllers.Application.spaceBeforeUpperCase(poi.powerTag.getClass().getSimpleName()),value:controllers.Application.spaceBeforeUpperCase(models.powerTags.Tower.class.getSimpleName()) /}
		#{html/option selected:controllers.Application.spaceBeforeUpperCase(poi.powerTag.getClass().getSimpleName()),value:controllers.Application.spaceBeforeUpperCase(models.powerTags.Transformer.class.getSimpleName()) /}
	#{html/select_end /}
	<div id='poi_power_tag_details'></div>
	<label class='checkbox-inline'>
		<input type='checkbox' id='poi_task_completed' name='poi_task_completed' value='true'
		#{if poi?.taskCompleted == true}
		checked
		#{/if}
		#{if isAuthorized == false}
		disabled
		#{/if}
		> Task Completed
	</label>
	#{if isAuthorized == true}
	<button class='btn btn-default' id='poi_submit' type="submit">Submit</button>
	#{/if}
</form>
#{poi_photos_modal photos:poi?.photos /}
<button class='btn btn-default' id='poi_zoom'>Zoom</button>
<button class='btn btn-default' id='poi_close'>Close</button>
<script type='text/javascript'>
	(function() {
		$.get(
			routes.jsonPhoto.url(),
			$.param({poiId : $('#poi_id').val()}),
			function(data) {
				var photos = data.elements;
				for (var i = 0; i < photos.length; i++) {
					var photo = photos[i];
					addMarker(null, photo.latitude, photo.longitude, photo.marker_type, photo.marker_id, null, null);
				}
			}
		);
		$.get(
			routes.jsonLocationTrace.url(),
			$.param({poiId : $('#poi_id').val()}),
			function(data) {
				polygon = L.polygon(data).addTo(map);
			}
		);

	})();
</script>
