#{set 'moreScripts'}
	#{get 'moreScripts' /}
#{/set}
#{set 'moreStyles'}
	#{get 'moreStyles' /}
#{/set}
<form class='form-inline'>
	<div class='form-group'>
		<label for='poiDetails_accuracy'>Accuracy:</label><br />
		<input class='form-control' id='poiDetails_accuracy' placeholder='missing value' type='text'>
	</div>
	<div class='form-group'>
		<label for='poiDetails_altitude'>Altitude:</label><br />
		<input class='form-control' id='poiDetails_altitude' placeholder='missing value' type='text'>
	</div>
	<div class='form-group'>
		<label for='poiDetails_bearing'>Bearing:</label><br />
		<input class='form-control' id='poiDetails_bearing' placeholder='missing value' type='text'>
	</div>
	<div class='form-group'>
		<label for='poiDetails_latitude'>Latitude:</label><br />
		<input class='form-control' id='poiDetails_latitude' placeholder='missing value' type='text'>
	</div>
	<div class='form-group'>
		<label for='poiDetails_longitude'>Longitude:</label><br />
		<input class='form-control' id='poiDetails_longitude' placeholder='missing value' type='text'>
	</div>
	<div class='form-group'>
		<label for='poiDetails_provider'>Provider:</label><br />
		<input class='form-control' id='poiDetails_provider' placeholder='missing value' type='text'>
	</div>
	<div class='form-group'>
		<label for='poiDetails_time'>Time:</label><br />
		<input class='form-control' id='poiDetails_time' type='datetime-local'>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>