#{power/fields/gas_insulated isAuthorized:isAuthorized,value:powerTag?.gas_insulated /}
#{power/fields/location/substation isAuthorized:isAuthorized,value:powerTag?.location /}
#{power/fields/name isAuthorized:isAuthorized,value:powerTag?.name /}
#{power/fields/operator isAuthorized:isAuthorized,value:powerTag?.operator /}
#{power/fields/ref isAuthorized:isAuthorized,value:powerTag?.ref /}
#{power/fields/type/substation isAuthorized:isAuthorized,value:powerTag?.type /}
#{power/fields/voltage isAuthorized:isAuthorized,value:powerTag?.voltage /}
