#{power/fields/color isAuthorized:isAuthorized,value:powerTag?.color /}
#{power/fields/design isAuthorized:isAuthorized,value:powerTag?.design /}
#{power/fields/height isAuthorized:isAuthorized,value:powerTag?.height /}
#{power/fields/material isAuthorized:isAuthorized,value:powerTag?.material /}
#{power/fields/ref isAuthorized:isAuthorized,value:powerTag?.ref /}
#{power/fields/structure isAuthorized:isAuthorized,value:powerTag?.structure /}
#{power/fields/type/tower isAuthorized:isAuthorized,value:powerTag?.type /}
