<div class='form-group'>
	<label
		class='control-label
			#{if _primary}
				text-primary
				#{/if}
				'
		for='${_id}'
		>${_name}:</label><br />	
	<input
		class='form-control'
		id='${_id}'
		name='${_id}'
		#{if _content}
			type='hidden'
			#{/if}
		#{elseif _type == 'color'}
			type='color'
			#{/elseif}
		#{elseif _type == 'date'}
			type='datetime-local'
			#{/elseif}
		#{elseif _type == 'number'}
			type='number'
			#{if _min}
				min='${_min}'
				#{/if}
			#{if _max}
				max='${_max}'
				#{/if}
			#{if _step}
				#{if _value}
					step='${controllers.Application.getHtmlInputStep(String.valueOf(_step), String.valueOf(_value))}'
					#{/if}
				#{else}
					step='${_step}'
					#{/else}
				#{/if}
			#{/elseif}
		#{else}
			type='text'
			#{/else}
		#{if _value}
			#{if _type == 'color'}
				value='#${java.lang.Integer.toHexString(_value.getRGB()).substring(2, java.lang.Integer.toHexString(_value.getRGB()).length())}'
				#{/if}
			#{elseif _type == 'date'}
				value='${new java.text.SimpleDateFormat("yyyy-MM-dd HH:mm").format(new java.util.Date(_value)).toString().replace(" ","T")}'
				#{/elseif}
			#{else}
				value='${_value}'
				#{/else}
			#{/if}
		#{if _placeholder}
			placeholder='${_placeholder}'
			#{/if}
		#{else}
			placeholder='text'
			#{/else}
		#{if _readonly || _content}
			readonly
			#{/if}
		#{if _isAuthorized == false}
			disabled
			#{/if}
		>
	#{if _content}
		<input class='form-control' type='text' value='${_content}' readonly/>
		#{/if}
</div>
