<div class='form-group'
	#{ifnot _primary}
		style='margin-right: 4px;'
		#{/ifnot}
		>
	<label class='control-label
		#{if _primary}
			text-primary
			#{/if}
		' for='${_id}' name='${_id}'>${_name}:</label><br />
	<select class='form-control' id='${_id}' name='${_id}'>
		<option value='null'> </option>
		#{list items:_values, as:'value'}
			#{ifnot value.name == "null"}
				<option value='${value.name}'
				#{if value.name == _selected}
					selected
				#{/if}
				>${value.name}</option>
			#{/ifnot}
		#{/list}
	</select>
</div>