#{extends 'main.html'/}
#{set title:'GisWeb' /}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/jquery.datetimepicker.css'}" />
	<link rel="stylesheet" href="@{'/public/stylesheets/colpick.css'}" />
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
	<style type="text/css">
		.color-box {
			border: 1px solid black;
			display: inline-flex;
			height:10px;
			margin:5px;
			width:30px;
		}
		#map {
			height: 400px;
			width: 600px;
		}
	</style>
#{/set}
#{set 'moreScripts'}
	<script type="text/javascript" src="@{'/public/javascripts/jquery.slides.min.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/jquery.datetimepicker.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/colpick.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/jquery.color-2.1.0.min.js'}"></script>
	<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	<script type="text/javascript" src="@{'/public/javascripts/jquery.validate.js'}"></script>
#{/set}

<form id="submitPoiData">
	<div id="poi"></div>
	<div id="map"></div>
	<label for="powerTag">power tag</label>
	<select name="powerTag" id="powerTag" class='submitPoiDataField'>
		<option value=""> </option>
		#{list items:models.Poi.getPowerTagFields(), as:"powerTag"}
			<option #{if poi.powerTag != null && poi.powerTag.getClass().getName().toLowerCase().contains(powerTag.camelCase().toLowerCase()) } selected="" #{/if} value="${powerTag.camelCase()}">${powerTag}</option>
		#{/list}
	</select>
	<div id="powerTagDetails"></div>
	<input type="text" id="poiId" name="poiId" value="${poi.id}" readonly style="display: none;"/>
	<input id="submitPoiDataButton" type="submit" value="Save" style="display: none;"/>
</form>
<script type="text/javascript">
	// set up the map
	var map = new L.Map('map');

	// create the tile layer with correct attribution
	var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 19, attribution: osmAttrib});

	// start the map
	map.setView(new L.LatLng(${poi.latitude}, ${poi.longitude}),12);
	map.addLayer(osm);

	var marker = L.marker([${poi.latitude}, ${poi.longitude}], {draggable:'true'}).addTo(map);

	marker.on('dragend', function(event){
		var marker = event.target;
		var position = marker.getLatLng();
		$('#Poi_latitude').val(position.lat);
		$('#Poi_longitude').val(position.lng);
	});

	$('#poi').on('change', '#Poi_latitude', function(){
		var lat = $('#Poi_latitude').val();
		var lng = $('#Poi_longitude').val();
	
		if ($.isNumeric(lat) && $.isNumeric(lng)) {
			var latLng = L.latLng(lat, lng);
			marker.setLatLng(latLng);
			map.setView(latLng,12);
		}
	});

	$('#poi').on('change', '#Poi_longitude', function(){
		var lat = $('#Poi_latitude').val();
		var lng = $('#Poi_longitude').val();
	
		if ($.isNumeric(lat) && $.isNumeric(lng)) {
			var latLng = L.latLng(lat, lng);
			marker.setLatLng(latLng);
			map.setView(latLng,12);
		}
	});
</script>
<script type="text/javascript">
	$(document).ready(function () {
		$('#submitPoiData').validate({
			debug: true,
			submitHandler: function(form) {
				var action;
				var powerTag = $('#powerTag').val();

				switch (powerTag) {
					case 'Cable':
						action = #{jsAction @createPowerTagCable(
										':poiId',
										':powerTags_Cable_cables',
										':powerTags_Cable_circuits',
										':powerTags_Cable_location',
										':powerTags_Cable_name',
										':types_Operator_name',
										':types_Operator_type',
										':powerTags_Cable_ref',
										':powerTags_Cable_voltage') /};
						$.post(action({	poiId:						$('#poiId').val(),
										powerTags_Cable_cables:		$('#powerTags_Cable_cables').val(),
										powerTags_Cable_circuits:	$('#powerTags_Cable_circuits').val(),
										powerTags_Cable_location:	$('#powerTags_Cable_location').val(),
										powerTags_Cable_name:		$('#powerTags_Cable_name').val(),
										types_Operator_name:		$('#types_Operator_name').val(),
										types_Operator_type:		$('#types_Operator_type').val(),
										powerTags_Cable_ref:		$('#powerTags_Cable_ref').val(),
										powerTags_Cable_voltage:	$('#powerTags_Cable_voltage').val()}));
						break;
					case 'CableDistributionCabinet':
						action = #{jsAction @createPowerTagCableDistributionCabinet(
										':poiId',
										':types_Operator_name',
										':types_Operator_type',
										':powerTags_CableDistributionCabinet_ref',
										':powerTags_CableDistributionCabinet_voltage') /};
						$.post(action({	poiId:										$('#poiId').val(),
										types_Operator_name:						$('#types_Operator_name').val(),
										types_Operator_type:						$('#types_Operator_type').val(),
										powerTags_CableDistributionCabinet_ref:		$('#powerTags_CableDistributionCabinet_ref').val(),
										powerTags_CableDistributionCabinet_voltage:	$('#powerTags_CableDistributionCabinet_voltage').val()}));
						break;
					case 'Converter':
						action = #{jsAction @createPowerTagConverter(
										':poiId',
										':powerTags_Converter_converter',
										':powerTags_Converter_poles',
										':powerTags_Converter_rating',
										':powerTags_Converter_voltage') /};
						$.post(action({	poiId:							$('#poiId').val(),
										powerTags_Converter_converter:	$('#powerTags_Converter_converter').val(),
										powerTags_Converter_poles:		$('#powerTags_Converter_poles').val(),
										powerTags_Converter_rating:		$('#powerTags_Converter_rating').val(),
										powerTags_Converter_voltage:	$('#powerTags_Converter_voltage').val()}));
						break;
					case 'Generator':
						action = #{jsAction @createPowerTagGenerator(
										':poiId',
										':powerTags_Generator_name',
										':types_Operator_name',
										':types_Operator_type',
										':powerTags_Generator_output',
										':powerTags_Generator_plant',
										':powerTags_Generator_source',
										':powerTags_Generator_method',
										':powerTags_Generator_type') /};
						var method;
						var type;
						if ($('#powerTags_Generator_method').is('span')) {
							method = $('#powerTags_Generator_method').text();
						} else {
							method = $('#powerTags_Generator_method').val();
						}
						if ($('#powerTags_Generator_type').is('span')) {
							type = $('#powerTags_Generator_type').text();
						} else {
							type = $('#powerTags_Generator_type').val();
						}
						$.post(action({	poiId:						$('#poiId').val(),
										powerTags_Generator_name:	$('#powerTags_Generator_name').val(),
										types_Operator_name:		$('#types_Operator_name').val(),
										types_Operator_type:		$('#types_Operator_type').val(),
										powerTags_Generator_output:	$('#powerTags_Generator_output').val(),
										powerTags_Generator_plant:	$('#powerTags_Generator_plant').val(),
										powerTags_Generator_source:	$('#powerTags_Generator_source').val(),
										powerTags_Generator_method:	method,
										powerTags_Generator_type:	type}));
						break;
					case 'Line':
						action = #{jsAction @createPowerTagLine(
										':poiId',
										':powerTags_Line_cables',
										':types_Operator_name',
										':types_Operator_type',
										':powerTags_Line_ref',
										':powerTags_Line_voltage',
										':powerTags_Line_wires') /};
						$.post(action({	poiId:							$('#poiId').val(),
										powerTags_Line_cables:		$('#powerTags_Line_cables').val(),
										types_Operator_name:		$('#types_Operator_name').val(),
										types_Operator_type:		$('#types_Operator_type').val(),
										powerTags_Line_ref:			$('#powerTags_Line_ref').val(),
										powerTags_Line_voltage:		$('#powerTags_Line_voltage').val(),
										powerTags_Line_wires:		$('#powerTags_Line_wires').val()}));
						break;
					case 'MinorLine':
						action = #{jsAction @createPowerTagMinorLine(
										':poiId',
										':powerTags_MinorLine_cables',
										':powerTags_MinorLine_name',
										':types_Operator_name',
										':types_Operator_type',
										':powerTags_MinorLine_ref',
										':powerTags_MinorLine_voltage') /};
						$.post(action({	poiId:							$('#poiId').val(),
										powerTags_MinorLine_cables:		$('#powerTags_MinorLine_cables').val(),
										powerTags_MinorLine_name:		$('#powerTags_MinorLine_name').val(),
										types_Operator_name:			$('#types_Operator_name').val(),
										types_Operator_type:			$('#types_Operator_type').val(),
										powerTags_MinorLine_ref:		$('#powerTags_MinorLine_ref').val(),
										powerTags_MinorLine_voltage:	$('#powerTags_MinorLine_voltage').val()}));
						break;
					case 'Plant':
						action = #{jsAction @createPowerTagPlant(
										':poiId',
										':powerTags_Plant_landuse',
										':powerTags_Plant_name',
										':types_Operator_name',
										':types_Operator_type',
										':powerTags_Plant_output',
										':powerTags_Plant_start_date') /};
						$.post(action({	poiId:						$('#poiId').val(),
										powerTags_Plant_landuse:	$('#powerTags_Plant_landuse').val(),
										powerTags_Plant_name:		$('#powerTags_Plant_name').val(),
										types_Operator_name:		$('#types_Operator_name').val(),
										types_Operator_type:		$('#types_Operator_type').val(),
										powerTags_Plant_output:		$('#powerTags_Plant_output').val(),
										powerTags_Plant_start_date:	$('#powerTags_Plant_start_date').val()}));
						break;
					case 'Pole':
						action = #{jsAction @createPowerTagPole(
										':poiId',
										':powerTags_Pole_ref') /};
						$.post(action({	poiId:				$('#poiId').val(),
										powerTags_Pole_ref:	$('#powerTags_Pole_ref').val()}));
						break;
					case 'Substation':
						action = #{jsAction @createPowerTagSubstation(
										':poiId',
										':powerTags_Substation_gas_insulated',
										':powerTags_Substation_location',
										':powerTags_Substation_name',
										':types_Operator_name',
										':types_Operator_type',
										':powerTags_Substation_ref',
										':powerTags_Substation_substationType',
										':powerTags_Substation_voltage') /};
						$.post(action({	poiId:									$('#poiId').val(),
										powerTags_Substation_gas_insulated:		$('#powerTags_Substation_gas_insulated').val(),
										powerTags_Substation_location:			$('#powerTags_Substation_location').val(),
										powerTags_Substation_name:				$('#powerTags_Substation_name').val(),
										types_Operator_name:					$('#types_Operator_name').val(),
										types_Operator_type:					$('#types_Operator_type').val(),
										powerTags_Substation_ref:				$('#powerTags_Substation_ref').val(),
										powerTags_Substation_substationType:	$('#powerTags_Substation_substationType').val(),
										powerTags_Substation_voltage:			$('#powerTags_Substation_voltage').val()}));
						break;
					case 'Switch':
						action = #{jsAction @createPowerTagSwitch(
										':poiId') /};
						$.post(action({	poiId:	$('#poiId').val(),}));
						break;
					case 'Tower':
						action = #{jsAction @createPowerTagTower(
										':poiId',
										':powerTags_Tower_color',
										':powerTags_Tower_design',
										':powerTags_Tower_height',
										':powerTags_Tower_material',
										':powerTags_Tower_ref',
										':powerTags_Tower_structure',
										':powerTags_Tower_type') /};
						$.post(action({	poiId:						$('#poiId').val(),
										powerTags_Tower_color:		jQuery.Color($('#powerTags_Tower_color').css('background-color')).rgba(),
										powerTags_Tower_design:		$('#powerTags_Tower_design').val(),
										powerTags_Tower_height:		$('#powerTags_Tower_height').val(),
										powerTags_Tower_material:	$('#powerTags_Tower_material').val(),
										powerTags_Tower_ref:		$('#powerTags_Tower_ref').val(),
										powerTags_Tower_structure:	$('#powerTags_Tower_structure').val(),
										powerTags_Tower_type:		$('#powerTags_Tower_type').val()}));
						break;
					case 'Transformer':
						action = #{jsAction @createPowerTagTransformer(
										':poiId',
										':powerTags_Transformer_frequency',
										':powerTags_Transformer_location',
										':powerTags_Transformer_phases',
										':powerTags_Transformer_rating',
										':powerTags_Transformer_transformerType',
										':powerTags_Transformer_voltage') /};
						$.post(action({	poiId:									$('#poiId').val(),
										powerTags_Transformer_frequency:		$('#powerTags_Transformer_frequency').val(),
										powerTags_Transformer_location:			$('#powerTags_Transformer_location').val(),
										powerTags_Transformer_phases:			$('#powerTags_Transformer_phases').val(),
										powerTags_Transformer_rating:			$('#powerTags_Transformer_rating').val(),
										powerTags_Transformer_transformerType:	$('#powerTags_Transformer_transformerType').val(),
										powerTags_Transformer_voltage:			$('#powerTags_Transformer_voltage').val()}));
						break;
					default:
						action = #{jsAction @deletePowerTag(':poiId') /};
						$.post(action({poiId: $('#poiId').val()}));
						break;
				};
				
				action = #{jsAction @updatePoi(	':Poi_accuracy',
												':Poi_altitude',
												':Poi_bearing',
												':poiId',
												':Poi_latitude',
												':Poi_longitude',
												':Poi_provider',
												':Poi_time') /};
				$.post(action({	Poi_accuracy:	$('#Poi_accuracy').val(),
								Poi_altitude:	$('#Poi_altitude').val(),
								Poi_bearing:	$('#Poi_bearing').val(),
								poiId:			$('#poiId').val(),
								Poi_latitude:	$('#Poi_latitude').val(),
								Poi_longitude:	$('#Poi_longitude').val(),
								Poi_provider:	$('#Poi_provider').val(),
								Poi_time:		$('#Poi_time').val()}));
			}
		});
		
		$.validator.addClassRules({
			byte: {
				negOrPosDigit: true,
				range: [-128, 127]},
			double: {
				number: true,
				range: [-179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368, 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368]},
			float: {
				number: true
				range: [-340282346638528859811704183484516925440, 340282346638528859811704183484516925440]},
			integer: {
				negOrPosDigit: true,
				range: [-2147483648, 2147483647]},
			long: {
				negOrPosDigit: true,
				range: [-9223372036854775808, 9223372036854775807]},
			accuracy: {
				number: true,
				min: 0},
			bearing: {
				number: true,
				range: [0, 360]},
			cables: {
				cables: true},
			circuits: {
				digits: true,
				min: 0},
			frequency: {
				number: true,
				min: 0},
			height: {
				number: true,
				min: 0},
			latitude: {
				number: true,
				range: [-90, 90]},
			longitude: {
				number: true,
				range: [-180, 180]},
			phases: {
				digits: true,
				min: 0},
			poles: {
				digits: true,
				min: 0},
			rating: {
				number: true,
				min: 0}
		});
		
		$.validator.addMethod("negOrPosDigit", function(value, element) {
			return this.optional(element) || /^-?\d+$/.test(value);
		}, "Please enter only digits with(out) negative sign.");
		
		$.validator.addMethod("cables", function( value, element ) {
			return this.optional(element) || /^\d+((;\d+)+)?$/.test(value);
		}, "Please enter only non-decimal number(s), separated by semicolons (e.g. '6;3;2')");
	});

	$(document).ready(function(){
		var action = #{jsAction @getHtmlPoi(':poiId') /};
		$('#poi').load(
			action({poiId: ${poi.id}})
		);
	});
	
	$('#powerTagDetails').on('click', '.color-box', function(){
		var action = #{jsAction @getColor(':poiId') /};
		var currentElement = this;
		$.get(action({poiId: ${poi.id}}), function(currentColor) {
			$(currentElement).colpick({layout:'rgbhex',
										color:currentColor,
										onSubmit:function(hsb,hex,rgb,el) {
												$(el).css('background-color', '#'+hex);
												$(el).colpickHide();}
										}).css('background-color', '#'+currentColor);
		});
	});

	$('body').on('click', '.datetimepicker', function(){
		$(this).datetimepicker({format:'Y/m/d H:i:s'});
	});
	
	$("body").on('click', "input.submitPoiDataField", function(){
		$("#submitPoiDataButton").css("display","inline");
	});

	$("body").on('change', "select.submitPoiDataField", function(){
		$("#submitPoiDataButton").css("display","inline");
	});

	$("body").on('click', "span.submitPoiDataField", function(){
		$("#submitPoiDataButton").css("display","inline");
	});

	$('#powerTagDetails').on('change', '#powerTags_Generator_source', function(){
		var action = #{jsAction @getHtmlMethods(':source', ':poiId') /};
		$('#generatorType').empty();
		if ($("#powerTags_Generator_source").val() == "") {
			$('#generatorMethod').empty();
		}
		else {
			$.get(action({source: $("#powerTags_Generator_source").val(), poiId: ${poi.id}}), function(htmlContent) {
			if (htmlContent == "") {
				$('#generatorMethod').empty();
				action = #{jsAction @getHtmlTypes(':source', ':method', ':poiId') /};
				$('#generatorType').load(
					action({source: $("#powerTags_Generator_source").val(), method: "NULL", poiId: ${poi.id}})
				);
			}
			else {
				$('#generatorMethod').html(
					htmlContent
				);
				
				if ($('#powerTags_Generator_method').is('span')) {
					action = #{jsAction @getHtmlTypes(':source', ':method', ':poiId') /};
					$('#generatorType').load(
						action({source: $("#powerTags_Generator_source").val(), method: $("#powerTags_Generator_method").text(), poiId: ${poi.id}})
				);
				};
			};
			});
		};
	});
	
	$('#powerTagDetails').on('change', '#powerTags_Generator_method', function(){
		var action = #{jsAction @getHtmlTypes(':source', ':method', ':poiId') /};
		if ($("#powerTags_Generator_method").val() == "") {
			$('#generatorType').empty();
		}
		else {
			$('#generatorType').load(
				action({source: $("#powerTags_Generator_source").val(), method: $("#powerTags_Generator_method").val(), poiId: ${poi.id}})
			);
		};
	});

	jQuery.fn.extend({
		getPowerTagDetails: function (){
			var action = #{jsAction @getHtmlPowerTagDetails(':powerTag', ':poiId') /};
			if ($("#powerTag").val() == "") {
				$('#powerTagDetails').empty();
			}
			else {
				$('#powerTagDetails').load(
					action({powerTag: $("#powerTag").val(), poiId: ${poi.id}})
				);
			};
		}
	});
	
	$(document).ready(function(){$("#powerTag").getPowerTagDetails()});
	$('#powerTag').change(function(){$("#powerTag").getPowerTagDetails()});
</script>