#{extends 'main.html' /}
#{set title:'grid2osm' /}
#{set 'moreScripts'}
	#{get 'moreScripts' /}
	<script type='text/javascript'>
		var row_bottom_collapsed = true;
		var row_top_collapsed = true;
		var marker_state = {
			photo: {
				closed: {
					color: 'blue',
					icon: 'photo',
					spin: 'false'
				},
				opened: {
					color: 'blue',
					icon: 'refresh',
					spin: 'true'
				}
			},
			poi: {
				done: {
					color: 'green',
					icon: 'check-circle',
					spin: 'false'
				},
				opened_by_editor: {
					color: 'orange',
					icon: 'refresh',
					spin: 'true'
				},
				opened_by_other: {
					color: 'orange',
					icon: 'refresh',
					spin: 'false'
				},
				todo: {
					color: 'red',
					icon: 'times-circle',
					spin: 'false'
				}
			}
		};
		var my_google_id;
		var routes = {
			broadcastClosePoi: #{jsRoute @broadcastClosePoi() /},
			broadcastGetPoi: #{jsRoute @broadcastGetPoi() /},
			broadcastUpdatePoi: #{jsRoute @broadcastUpdatePoi() /},
			getPhoto: #{jsRoute @getPhoto() /},
			getPoi: #{jsRoute @getPoi() /},
			getPoiPowerTag: #{jsRoute @getPoiPowerTag() /},
			getPoiPowerTagGeneratorMethod: #{jsRoute @getPoiPowerTagGeneratorMethod() /},
			getPoiPowerTagGeneratorType: #{jsRoute @getPoiPowerTagGeneratorType() /},
			getSettingsModal: #{jsRoute @getSettingsModal() /},
			getSettingsUserAdministration: #{jsRoute @getSettingsUserAdministration() /},
			registerUser: #{jsRoute @registerUser() /},
			reservePoi: #{jsRoute @reservePoi() /},
			updatePoi: #{jsRoute @updatePoi() /},
			updateSettings: #{jsRoute @updateSettings() /}
		};
		var socket;
		var socket_opened_with_token = false;
	</script>
#{/set}
#{google_signin_js /}
#{set 'moreScripts'}
	#{get 'moreScripts' /}
	#{script 'photo_user_defined.js' /}
	#{script 'poi_user_defined.js' /}
	#{script 'settings_user_defined.js' /}
#{/set}
#{bootstrap /}
#{web_socket /}
<div id='table' class='container-fluid'>
	<div id='row_top' class='collapse row'>
		<div id='poi' class='col-xs-12'>
		</div>
	</div>
	<div id='row_middle' class='row'>
		<div class='col-xs-12'>
			#{map /}
			<div id='settings'>
			</div>
			#{google_signin_html /}
		</div>
	</div>
	<div id='row_bottom' class='collapse row'>
		<div id='photo' class='col-xs-12'>
		</div>
	</div>
</div>
<script type='text/javascript'>
	(function() {
	#{list items:pois, as:'poi'}
	addMarker(#{if poi?.googleUser?.googleId}poi?.googleUser?.googleId#{/if}#{else}''#{/else}, ${poi.latitude}, ${poi.longitude}, 'poi', ${poi.id}, ${poi.taskCompleted});
	#{/list}
	})();
</script>
