#{extends 'main.html'/}
#{set title:'GisWeb' /}
#{set 'moreStyles'}
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
	<link rel="stylesheet" href="@{'/public/stylesheets/osm2leaflet.css'}" />
#{/set}
#{set 'moreScripts'}
	<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	<script type="text/javascript" src="@{'/public/javascripts/jquery.slides.min.js'}"></script>
	<script type="text/javascript">
		var map;
		var ajaxRequest;
		var plotlist;
		var plotlayers=[];

		function initmap() {
			// set up the map
			map = new L.Map('map');

			// create the tile layer with correct attribution
			var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
			var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
			var osm = new L.TileLayer(osmUrl, {minZoom: 4, maxZoom: 12, attribution: osmAttrib});		

			// start the map in South-East England
			map.setView(new L.LatLng(51.163375, 10.447683),8);
			map.addLayer(osm);

			#{list items:models.Poi.findAll(), as:'poi'}
				var marker = L.marker([${poi.latitude}, ${poi.longitude}]).addTo(map);
				var content =	'<div id="slides_${poi.id}">' +
								#{list items:0..poi.photos.size()-1, as:'index'}
									'<img width="200px" src="@{Application.getPicture(poi.id, index)}"/>' +
								#{/list}
								'</div>' +
								'#{CustomTag.form @Application.submitPoiData(), method:"POST", id:"submitPoiData"}' +
									#{list items:['poi.accuracy','poi.altitude','poi.bearing','poi.latitude','poi.longitude','poi.provider','poi.time'], as:'fieldItem'}
									#{field fieldItem}
										'<p>' +
											'<label>&{field.name.cut('poi.').capFirst()}</label>' +
											'<input type="text" id="${field.id}" name="${field.name.cut('poi.')}" value="${field.value}" class="submitPoiDataField" readonly="true">' +
											'<span class="error">${field.error}</span>' +
										'</p>' +
									#{/field}
									#{/list}
									'<input type="text" id="poi_id" name="id" value="${poi.id}" readonly="true" style="display: none;">' +
									'<input id="submitPoiDataButton" type="submit" value="Save" style="display: none;" />\#{/CustomTag.form}';
				marker.bindPopup(content);
				marker.on('click', function(){
					$("#slides_${poi.id}").slidesjs({
						pagination: {
							active: false
						}
					});
					$("input.submitPoiDataField").click(function(){
						$(this).removeAttr("readonly");
						$("#submitPoiDataButton").css("display","inline");
					});
					$("#submitPoiDataButton").click(function(){
						$("input.submitPoiDataField").attr("readonly", "true");
						$("#submitPoiDataButton").css("display","none");
					});
				});
			#{/list}
		}
	</script>
#{/set}

<div id="map"></div>
<script type="text/javascript">
	initmap();
</script>