#{extends 'main.html'/}
#{set title:'GisWeb' /}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/jquery.datetimepicker.css'}" />
	<link rel="stylesheet" href="@{'/public/stylesheets/colpick.css'}" />
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
	<style type="text/css">
		.color-box {
			border: 1px solid black;
			display: inline-flex;
			height:10px;
			margin:5px;
			width:30px;
		}
		#map {
			height: 400px;
			width: 600px;
		}
	</style>
#{/set}
#{set 'moreScripts'}
	<script type="text/javascript" src="@{'/public/javascripts/jquery.slides.min.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/parsley.min.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/jquery.datetimepicker.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/colpick.js'}"></script>
	<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
#{/set}

#{form @Application.updatePoi(), method:"POST", id:"submitPoiData"}
	<div id="poi"></div>
	<div id="map"></div>
	<label for="powerTag">power tag</label>
	<select name="powerTag" id="powerTag" class='submitPoiDataField'>
		<option value=""> </option>
		#{list items:models.Poi.getPowerTagFields(), as:"powerTag"}
			<option value="${powerTag.camelCase()}">${powerTag}</option>
		#{/list}
	</select>
	<div id="powerTagDetails"></div>
	<input type="text" id="poiId" name="poiId" value="${poi.id}" readonly style="display: none;"/>
	<input id="submitPoiDataButton" type="submit" value="Save" style="display: none;"/>
#{/form}
<script type="text/javascript">
	// set up the map
	var map = new L.Map('map');

	// create the tile layer with correct attribution
	var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 19, attribution: osmAttrib});

	// start the map
	map.setView(new L.LatLng(${poi.latitude}, ${poi.longitude}),12);
	map.addLayer(osm);

	var marker = L.marker([${poi.latitude}, ${poi.longitude}], {draggable:'true'}).addTo(map);

	marker.on('dragend', function(event){
		var marker = event.target;
		var position = marker.getLatLng();
		$('#latitude').val(position.lat);
		$('#longitude').val(position.lng);
	});

	$('#poi').on('change', '#latitude', function(){
		var latLng = L.latLng($('#latitude').val(), $('#longitude').val());
		marker.setLatLng(latLng);
		map.setView(latLng,12);
	});

	$('#poi').on('change', '#longitude', function(){
		var latLng = L.latLng($('#latitude').val(), $('#longitude').val());
		marker.setLatLng(latLng);
		map.setView(latLng,12);
	});
</script>
<script type="text/javascript">
	$('#submitPoiData').parsley();

	$(document).ready(function(){
		var action = #{jsAction @poi(':poiId') /};
		$('#poi').load(
			action({poiId: ${poi.id}})
		);
	});
	
	$('#powerTagDetails').on('click', '.color-box', function(){
		$('.color-box').colpick({colorScheme:'dark',
													layout:'rgbhex',
													color:'ff8800',
													onSubmit:function(hsb,hex,rgb,el) {$(el).css('background-color', '#'+hex);
																																	$(el).colpickHide();}})
													.css('background-color', '#ff8800');
	});

	$('#poi').on('click', '#poiTime', function(){
		$('#poiTime').datetimepicker({format:'Y/m/d H:i:s'});
	});

	$('#powerTagDetails').on('click', '#powerTagTime', function(){
		$('#powerTagTime').datetimepicker({format:'Y/m/d H:i:s'});
	});
	
	$("body").on('click', "input.submitPoiDataField", function(){
		$("#submitPoiDataButton").css("display","inline");
	});

	$("body").on('change', "select.submitPoiDataField", function(){
		$("#submitPoiDataButton").css("display","inline");
	});
	
	$('#powerTagDetails').on('change', '#source', function(){
		var action = #{jsAction @getMethodHtmlCode(':source', ':poiId') /};
		$('#generatorType').empty();
		if ($("#source").val() == "") {
			$('#generatorMethod').empty();
		}
		else {
			$.get(action({source: $("#source").val(), poiId: ${poi.id}}), function(htmlContent) {
			if (htmlContent == "") {
				$('#generatorMethod').empty();
				action = #{jsAction @getTypeHtmlCode(':source', ':method', ':poiId') /};
				$('#generatorType').load(
					action({source: $("#source").val(), method: "NULL", poiId: ${poi.id}})
				);
			}
			else {
			$('#generatorMethod').html(
				htmlContent
			);
			};
			});
		};
	});
	
	$('#powerTagDetails').on('change', '#method', function(){
		var action = #{jsAction @getTypeHtmlCode(':source', ':method', ':poiId') /};
		if ($("#method").val() == "") {
			$('#generatorType').empty();
		}
		else {
			$('#generatorType').load(
				action({source: $("#source").val(), method: $("#method").val(), poiId: ${poi.id}})
			);
		};
	});
	
	$("#powerTag").change(function(){
		var action = #{jsAction @powerTagDetails(':powerTag', ':poiId') /};
		if ($("#powerTag").val() == "") {
			$('#powerTagDetails').empty();
		}
		else {
			$('#powerTagDetails').load(
				action({powerTag: $("#powerTag").val(), poiId: ${poi.id}})
			);
		};
	});
</script>