#{extends 'main.html'/}
#{set title:'GisWeb' /}
#{set 'moreStyles'}
#{/set}
#{set 'moreScripts'}
#{/set}

#{form @Application.updatePoi(), method:"POST", id:"submitPoiData"}
	<div id="poi"></div>
	<label for="powerTag">power tag</label>
	<select name="powerTag" id="powerTag">
		<option value=""></option>
		#{list items:models.Poi.getPowerTagFields(), as:"powerTag"}
			<option value="${powerTag.camelCase()}">${powerTag}</option>
		#{/list}
	</select>
	<div id="poiDetails"></div>
	<input type="text" id="poiId" name="poiId" value="${poiId}" readonly="true" style="display: none;">
	<input id="submitPoiDataButton" type="submit" value="Save"/>
#{/form}
<script type="text/javascript">
	$(document).ready(function(){
		var action = #{jsAction @poi(':poiId') /};
		$('#poi').load(
			action({poiId: ${poiId}})
		);
	});
	
	$('#poiDetails').on('change', '#source', function(){
		var action = #{jsAction @getMethodHtmlCode(':source', ':poiId') /};
		$('#generatorType').empty();
		if ($("#source").val() == "") {
			$('#generatorMethod').empty();
		}
		else {
			$('#generatorMethod').load(
				action({source: $("#source").val(), poiId: ${poiId}})
			);
		};
	});
	
	$('#poiDetails').on('change', '#method', function(){
		var action = #{jsAction @getTypeHtmlCode(':source', ':method', ':poiId') /};
		if ($("#method").val() == "") {
			$('#generatorType').empty();
		}
		else {
			$('#generatorType').load(
				action({source: $("#source").val(), method: $("#method").val(), poiId: ${poiId}})
			);
		};
	});
	
	$("#powerTag").change(function(){
		var action = #{jsAction @poiDetails(':powerTag', ':poiId') /};
		if ($("#powerTag").val() == "") {
			$('#poiDetails').empty();
		}
		else {
			$('#poiDetails').load(
				action({powerTag: $("#powerTag").val(), poiId: ${poiId}})
			);
		};
	});
</script>