<!DOCTYPE html>

<html lang='en'>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="@{'/public/stylesheets/main.scss'}" type="text/css">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
